doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Range slider
  body
    .container
      h1 Demo
      h2 Simple start, default params
      .range-slider.js-range-slider

      h2 With scale
      .range-slider.js-range-slider(
        data-scale="true"
      )

      h2 Minimalistic
      .range-slider.js-range-slider(
        data-min-max-labels="false",
        data-value-labels="false",
      )

      h2 Vertical
      .range-slider.js-range-slider(
        data-vertical="true"
      )
      .range-slider.js-range-slider
      //- div(style="background-color: lightgreen; height: 300px; display: flex; align-items: center; justify-content: center;") div after

